@using aspnetcoreapp1.Helpers
@inject IStringFormatter StringFormatter

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <div>
        @RenderSection("sectionexample", false)
    </div>
    <div>
        <p>@StringFormatter.FormatIt(new { Message = "Dependency Injection into view" })</p>
    </div>
</body>
</html>
